* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  outline: none;
  border: none;
}

button {
  background: none;
  outline: none;
  border: none;
}

textarea {
  outline: none;
}

:root {
  --text-color: black;
  --text-color-invert: white;
  --primary-color: #32a64f;
  --secondary-color: #006118;
  --third-color: rgb(255, 129, 129);
  --swiper-theme-color: #da2238 !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--text-color);
}

// -------------------------------------------------------------

.wrapper {
  // padding-top: 60px;
  height: 100vh;
  // display: flex;
  // flex-direction: column;
  display: grid;
  grid-template-rows: auto 1fr auto;
  //   overflow: hidden;
}

[class*="__container"] {
  width: 1440px;
  margin: 0 auto;
  padding: 0 22px;
  @media (max-width: 1440px) {
    width: 100%;
    // padding: 0 0px;
  }
}

.header {
  height: 110px;
  background: white;
  position: relative;
  z-index: 50;
  @media (max-width: 1440px) {
    height: 70px;
  }
  &__btn {
    display: none;
    position: relative;
    width: 50px;
    height: 30px;
    flex: 0 0 auto;
    z-index: 50;
    margin-bottom: 5px;
    @media (max-width: 1440px) {
      display: block;
    }
    span,
    &::after,
    &::before {
      position: absolute;
      width: 100%;
      height: 7px;
      background: black;
      top: 0;
      left: 0;
      transition: all 0.3s ease 0s;
    }
    &.active span {
      transform: scale(0);
    }
    &.active::after {
      transform: rotate(45deg);
      top: 50%;
    }
    &.active::before {
      transform: rotate(-45deg);
      top: 50%;
    }
    &.active span {
      transform: scale(0);
    }
    span {
      top: 50%;
    }
    &::after {
      content: "";
      top: 100%;
    }
    &::before {
      content: "";
      top: 0;
    }
  }
  &__container {
    display: flex;
    //  justify-content: space-between;
    height: 100%;
    align-items: center;
    border: 3px solid black;
    position: relative;
    background: white;
    //  z-index: 50;
    @media (max-width: 1440px) {
      padding-left: 0;
      justify-content: space-between;
    }
  }
  &__logo {
    height: 80px;
    margin-right: 65px;
    width: 120px;
    background: rgb(233, 233, 233);
    @media (max-width: 1440px) {
      margin-right: 0;
      height: 100%;
      width: 95px;
    }
  }
  &__menu {
    margin-right: auto;
    @media (max-width: 1440px) {
      position: absolute;
      // bottom: 0;
      top: 105%;
      transform: translateY(-105%);
      left: 0;
      width: 100%;
      background: rgb(233, 233, 233);
      outline: 3px solid black;
      transition: all 0.3s ease 0s;
      z-index: -1;
      &.active {
        transform: translateY(0%);
      }
      & .menu__list {
        flex-direction: column;
        align-items: center;
        gap: 0;
      }
      & .menu__item {
        padding: 15px 0;

        width: 100%;
        text-align: center;
        &:not(:first-child) {
          border-top: black 3px solid;
        }
      }
      & .menu__link {
        font-size: 16px;
      }
    }
  }
  &__auth {
    @media (max-width: 1440px) {
      display: none;
    }
  }
}
.menu {
  &__list {
    display: flex;
    gap: 45px;
  }
  &__item {
  }
  &__link {
  }
}
.auth {
  display: flex;

  &__link {
  }
  &__sep {
  }
}
.page {
  min-width: 0;
}
.welcome {
  margin-top: 45px;
  @media (max-width: 1440px) {
    margin-top: 22px;
  }
  &__container {
    display: flex;
    gap: 45px;
    @media (max-width: 1440px) {
      flex-direction: column;
      gap: 22px;
    }
  }
  &__img {
    flex: 1 0 auto;
    width: 370px;
    height: 240px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 1440px) {
      width: 100%;
      height: 100%;
      text-align: center;
      img {
        height: 110px;
        width: 164px;
      }
    }
    @media (max-width: 480px) {
    }
  }
  &__content {
    @media (max-width: 1440px) {
      font-size: 16px;
    }
  }
}
.cards {
  margin-top: 60px;
  @media (max-width: 1440px) {
    margin-top: 20px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    @media (max-width: 1440px) {
      gap: 15px;
      justify-content: center;
    }
  }
  &__item {
  }
}
.card {
  display: flex;
  flex: 0 1 660px;
  flex-direction: column;
  padding: 30px;
  &:nth-child(2) {
    padding-left: 50px;
    @media (max-width: 1440px) {
      padding-left: 15px;
    }
  }
  @media (max-width: 1440px) {
    padding: 15px;
  }
  border: 3px solid black;
  @media (max-width: 1440px) {
  }
  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    @media (max-width: 1440px) {
      font-size: 25px;
    }
  }
  &__list {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width: 1440px) {
      margin-top: 20px;
      gap: 20px;
    }
  }
  &__list-item {
    &::before {
      display: inline-block;
      content: url("../img/galochka.svg");
      width: 30px;
      padding-right: 10px;
      // height: 20px;
    }
    @media (max-width: 1440px) {
      font-size: 16px;
    }
  }
}
.news {
  margin-top: 45px;
  @media (max-width: 1440px) {
    margin-top: 22px;
  }
  &__container {
  }
  &__top {
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: 1440px) {
      margin-bottom: 20px;
    }
  }
  &__title {
    font-weight: normal;
    font-size: 32px;
    @media (max-width: 1440px) {
      font-size: 26px;
    }
  }
  &__bottom {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1440px) {
      gap: 22px;
    }
  }
  &__item {
    @media (max-width: 1440px) {
      width: 420px;
    }
  }
  &__more {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    @media (max-width: 1440px) {
      margin-top: 0;
    }
  }
  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 3px solid black;
    width: 420px;
    font-size: 24px;
    height: 45px;
    background: rgb(233, 233, 233);
    @media (max-width: 1440px) {
      display: none;
    }
  }
}
.news-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 420px;
  border: 3px solid black;
  padding-top: 30px;
  padding-bottom: 120px;
  @media (max-width: 1440px) {
    padding-top: 20px;
    padding-bottom: 22px;
  }
  &__img {
    width: 200px;
    height: 110px;
    margin-bottom: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // margin: 0 50px;
    }
  }
  &__title {
    font-size: 26px;
    margin-bottom: 30px;
    @media (max-width: 480px) {
      font-size: 21px;
      margin-bottom: 10px;
    }
  }
  &__text {
    font-size: 20px;
    @media (max-width: 1440px) {
      // text-align: justify;
      font-size: 16px;
      align-self: flex-start;
      padding-left: 22px;
      padding-right: 22px;
    }
  }
}
.partners {
  margin-top: 60px;
  @media (max-width: 1440px) {
    margin-top: 22px;
  }
  &__container {
    padding: 0;
  }
  &__top {
    text-align: center;
  }
  &__title {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 60px;
    @media (max-width: 1440px) {
      margin-bottom: 22px;
      font-size: 26px;
    }
  }
  &__bottom {
    padding: 0 210px 0 195px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 44px;
    @media (max-width: 1440px) {
      padding: 0 44px;
      // column-gap: 90px;
      row-gap: 10px;
    }
  }
  &__item {
    @media (max-width: 1440px) {
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9),
      &:nth-child(10) {
        display: none;
      }
    }
  }
  &__img {
    width: 150px;
    height: 90px;
    @media (max-width: 1440px) {
      width: 94px;
      height: 70px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.comments {
  margin-top: 60px;
  @media (max-width: 1440px) {
    margin-top: 22px;
  }
  &__container {
    padding: 0 210px 0 165px;
    @media (max-width: 1440px) {
      padding: 0 22px;
    }
  }
  &__top {
    text-align: center;
  }
  &__title {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 60px;
    @media (max-width: 1440px) {
      margin-bottom: 22px;
      font-size: 26px;
    }
  }
  &__bottom {
  }
  &__form {
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
}
.form-comments {
  &__top {
    display: flex;
    height: 105px;
    gap: 20px;
    @media (max-width: 1440px) {
      height: 100%;
    }
  }
  &__img {
    flex: 1 0 auto;
    height: 105px;
    width: 105px;
    border: 3px solid gray;
    @media (max-width: 1440px) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__textarea {
    border: 3px solid black;
    font-family: inherit;
    font-size: 18px;
    padding-top: 40px;
    padding-left: 5px;
    width: 100%;
    resize: none;
    @media (max-width: 1440px) {
      padding: 5px;
      max-height: 44px;
      font-size: 16px;
    }
  }
  &__bottom {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 1440px) {
      margin-top: 11px;
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 3px solid black;
    width: 150px;
    font-size: 18px;
    height: 30px;
    background: rgb(233, 233, 233);
    @media (max-width: 1440px) {
      display: none;
    }
  }
}
.comments-item {
  margin-left: 15px;
  display: grid;
  grid-template-areas:
    "img title"
    "img text";
  grid-column-gap: 15px;
  @media (max-width: 1440px) {
    margin-left: 0px;
  }
  &__img {
    grid-area: img;
    width: 50px;
    height: 50px;
    border: 3px solid gray;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    grid-area: title;
    font-size: 26px;
    font-weight: normal;
    @media (max-width: 1440px) {
      display: none;
    }
  }
  &__text {
    grid-area: text;
    font-size: 18px;
  }
}
.footer {
  margin-top: 135px;
  @media (max-width: 1440px) {
    margin-top: 22px;
  }
  &__container {
    display: flex;
    align-items: center;
    border: 3px solid black;
    padding: 30px 90px 30px 30px;
    @media (max-width: 1440px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px 0 15px 0;
    }
  }
  &__logo {
    height: 44px;
    width: 66px;
    background: rgb(233, 233, 233);
    margin-right: 30px;
    @media (max-width: 1440px) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  &__info {
  }
  &__copyright {
    @media (max-width: 1440px) {
      display: none;
    }
  }
  &__socials {
  }
  &__menu {
    margin-left: auto;
    @media (max-width: 1440px) {
      display: none;
    }
  }
}
.logo {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.socials {
  display: flex;
  gap: 10px;
  &__link {
    display: block;
    width: 30px;
    height: 30px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
